<footer class="footer">
    <div class="container">
      <div class="row">
        <img class="logo-img" src='https://padletuploads.blob.core.windows.net/aws/70257219/_dZ5ERtRlzt7s9kKzYOKTA/79f258dcebe9f4539ec8a18928973e86.png' alt="Logo Andes">
        <div class="col-md-5">
          <h4>Acerca de nosotros</h4>
          <p>Somos Well Alert Connect, una aplicación de gestión de alarmas diseñada específicamente para la industria petrolera. Nuestra plataforma te permite mantener un seguimiento organizado de reuniones, informes y otras actividades esenciales en tu operación.</p>
        </div>
        <div class="col-md-1 separator">
          <div class="vertical-line"></div>
        </div>
        <div class="col-md-5">
          <h4>Sitios de interés</h4>
          <ul>
            <li>Ecopetrol</li>
            <li>Ministerio de Minas</li>
            <li>Mi correo</li>
            <li>Uniandes</li>
            <li> </li>
            <li>&copy;Well alert connect-2023 </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>