<div class="container">
    <div class="row title-container">
        <div class="col-md-6">
            <span class="title">Administraci&oacute;n de roles</span>
        </div>
        <div class="col-md-6 container d-flex">
            <div class="col-6">
                <button class="btn btn-dark">Crear rol</button>
            </div>
            <div class="col-6 container-fluid">
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 table-container">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Abreviado</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody *ngIf="roles.length > 0">
                    <tr *ngFor="let item of roles; let index = index">
                        <td>{{item.nombre}}</td>
                        <td>{{item.abreviado}}</td>
                        <td>
                            <div class="container-icon">
                               <img src="./assets/editar.svg"  class="mr-1"  (click)="goEdit(item.id)" />
                                <img src="./assets/eliminar.svg" class="ml-1 mr-1" (click)="eliminarRol(index)" />

                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
